<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <p><a href="/story"><button>Add new User Story</button></a></p>
        <table border='1' cellspacing='5' cellpadding='5' width="90%" align="center">
            <tr>
                <th> ID </th>
                <th> Story Title </th>
                <th> User Story </th>
                <th> Acceptance Criteria </th>
                <th> Business Value </th>
                <th> Estimation </th>
                <th> Status </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
            {% for row in story %}
            {% if not row[-1] %}
            <tr>
                {% for element in row %}
                {% if element %}
                    <td width=''>{{ element }}</td>
                {% endif %}
                {% endfor %}
                <td width="30px"><a href="story/{{ row[0] }}"><img src="/static/edit.png" style="width:28px;height:15px;"></img></a></td>
                <td width="30px"><a href="story/delete/{{ row[0] }}"><img src="/static/bin.png" style="width:28px;height:28px;" align=center></img></a></td>
            </tr>
            {% endif %}
            {% endfor %}


    </body>
</html>